body{
    background-color: black;
}
h1{
    color: white;
}
.verh {
    text-align: center;
    font-size: 30px;
    color: #e1e1e1;
    font-family: inherit;
    font-weight: 800;
    cursor: pointer;
    position: relative;
    border: none;
    background: none;
    text-transform: uppercase;
    transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
    transition-duration: 400ms;
    transition-property: color;
}
.verh:focus,
.verh:hover {
    color: #fff;
} 
.verh:focus:after,
.verh:hover:after {
    width: 100%;
    left: 0%;
}  
.verh:after {
    content: "";
    pointer-events: none;
    bottom: -2px;
    left: 50%;
    position: absolute;
    width: 0%;
    height: 2px;
    background-color: #fff;
    transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
    transition-duration: 400ms;
    transition-property: width, left;
}
h3{
    color: white;
    font-weight: bold;
    text-align: center;
}
p{
    color: white;
}
div{
    margin: 20px;
}
.genreee{
    text-align:center;
    font-family: Arial, Helvetica, sans-serif;
}